@import 'vars';

.show-on-hover-path-path {
  display: none;
}

.show-on-hover-path:hover {
  .show-on-hover-path-path {
    display: inline;
  }
  .show-on-hover-path-name {
    display: none;
  }
}

.sideNavClass {
  min-width: 50px;
}

.breakpointStyle {
	background: $danger;
  border-radius: 100%;
  width: 10px !important;
  height: 10px !important;
  left: 7px !important;
  top: 3px;
}

.breakpointStyle.halfOpacity {
  opacity: 0.5;
}

.breakpointStyle.hollowCircle {
  background: white;
  border: 1.25px solid #e06331
}

.breakpointStyle.resolwedCircle {
  background: white;
  border: 4px double #e06331;
}

$base: 12;
$r: 1;

@each $size in 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36 {
  .breakpointStyle#{$size} {
    width: #{( $size - $base )*$r+10}px !important;
    height: #{( $size - $base )*$r+10}px !important;
    left: 3px !important;
    top: #{1.58*$size/2}px;
    margin-top: -#{(( $size - $base )*$r+10)/2}px;
  }
}


.currentLineDecoratorStyle {
  background: transparent !important;
  border-left: 7px solid $success;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  width: 0 !important;
  height: 0 !important;
  left: 46px !important;
  top: 4px;
}

$abase: 0.58;
$a: 0.3;

$bbase: 0.41;
$b: 0.25;

@each $size in 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36 {
  .currentLineDecoratorStyle#{$size} { 
    border-left:  #{( $size - $base )*$a + $base*$abase}px solid $success;
    border-top: #{( $size - $base )*$b + $base*$bbase}px solid transparent;
    border-bottom: #{( $size - $base )*$b + $base*$bbase}px solid transparent;
    left: #{( $size - $base ) * 2.75 + $base*3.5}px !important;
    top: #{1.58*$size/2}px;
    margin-top: -#{( $size - $base )*$b+$base*$bbase}px;
  }
}

.currLineOptHideMe {
  opacity: 0.1;
}

.ps__rail-x, .ps__rail-y {
  background: none !important;
}

.scroller {
  position: relative;
  overflow-x: hidden;

  .ps__rail-y {
    z-index: 20;
    left: auto !important;
    right: 2px !important;
  
    > div {
      width: 5px !important;
    }
  }

  .ps__rail-x {
    > div {
      top: 0;
      height: 5px !important;
    }
  }  
}

.tree-wrapper {
  position: relative;
  overflow-x: hidden;
  height: calc(100vh - 80px);

  > ul.rc-tree {
    display: block;
    //width: calc(100% - 10px);
    width: 100%;
    padding: 8px !important;
    padding-right: 0px !important;

    > li {
      padding: $nodePadding 0;
    }    

    //.rc-tree-node-content-wrapper,
    .rc-tree-title1 {
      > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: block;

        font-size: $nodesFontSize;
      }
    }
  }
}

.tree-wrapper-half {
  height: 100%;
}

.loggerContainer,
.refedWrapper {
  .ps__rail-y {
    z-index: 20;
    left: auto !important;
    right: 2px !important;
  
    > div {
      width: 5px !important;
    }
  }
}

.runtimesettings-modal {
  .ant-divider {
    &:before {
      display: none !important;
    }
    > span {
      padding-left: 0 !important;
    }
  }
}

.ant-modal .ant-tabs {
  margin-top: -15px !important;
}

.ant-modal .ant-form-item {
  margin-bottom: 12px !important;
}

.ant-modal .ant-input-group-wrapper {
  vertical-align: middle !important;
}
.ant-model .ant-modal-body .ant-row {
  margin-bottom: 20px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.landing-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.landing-inner {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  padding: 20px;
}

.landing-title {
  font-size: 2em;
}

.landing-text {
  font-size: 1.1em;
}

.initializing-container {
  background: #f1f1f1;
  height: 100%;
  width: 100%;
  text-align: center;
}

.initializing-inner {
  left: 0;
  right: 0;
  top: 45%;
  position: absolute;
}

.initializing-title {
  color: darkgray;
}

.initializing-text {
  font-size: 22px;
  color: darkgray;
  font-style: italic;
}