@import 'vars';

.list {
  .list-item {
    border-bottom: 1px #dcdcdc solid;
    background-color: white;

    .item-value-wrap {
      padding: 5px 5px;
    }
    input.item-value-editing {
      padding: 3px 4px;
      width: 100%;
      color: darkblue;
      /*.ant-input:focus {
        border-color: #40a9ff;
        outline: 0;*/
    }
  }
}
