@import 'vars';

.asidenav {
  height: 100%;
  background: $lightBg;
}
/*
.ant-layout-sider-children {
  height: calc(100vh - 43px);
  overflow: hidden;
}
*/

.asidenav {
  display: flex;
  flex-direction: column;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAArCAIAAADdd86NAAAAAXNSR…MDAxMQAwHL////gRSUR7wgqj6sPKyCqDbQTQmqtcT7FgDDukHAYsJz6QAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
  background-color: rgba(0, 0, 0, 0.2);
}

.asidenav i {
  padding: 5px;
  font-size: 18px;
  margin: 10px;
  border-radius: 3px;
}

.asidenav i.active {
  background-color: #fff
}

.asidenav a {
  font-size: 25px;
  padding: 13px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  color: $asideLinkColor;
  transition: all .3s;
}

.asidenav a:hover {
  background: $asideLinkHover;
  color: #fff;
}

.asidenav a.selected {
  background: $asideLinkColor;
  color: #fff;
}