@import 'vars';

/* background-color: rgb(43, 49, 56); */
/*
.sidebar {
  background-color: $sidebarBgColor;
  color: #fff;
}

.sidebar > div {
  padding-left: 15px;
  padding-top: 10px;
}
*/
.sidebar .dragline {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  width: 3px;
  height: 100%;
  border: none;
  cursor: col-resize;
  outline: none;
  background: none;
  z-index: 10;
}

.sidebar .dragline.left {
  right: -3px;
}

.sidebar > .ant-layout-sider {
  background: transparent !important;
}

.sidebar.restore-animation {
  transition: all .2s;
}

.sidebar.prevent-animation {
  transition: unset !important;
}


.sidebar span.ant-tree-node-content-wrapper {
  background: transparent !important;
  position: absolute !important;
  left: 0;
  padding-left: 28px !important;
}

.sidebar span.ant-tree-node-content-wrapper:not(.ant-tree-node-selected):hover {
  background-color: transparent
}

.sidebar li > span.ant-tree-node-selected {
  background-color: transparent !important;
}


.sidebar span.ant-tree-switcher {
  background-color: rgb(43, 49, 56) !important;
  color: #fff !important;
}

.sidebar span.ant-tree-switcher:after {
  font-size: 15px !important;
}


.ant-tree li {
  span.ant-tree-node-content-wrapper {
    > span.ant-tree-title {
      color: rgb(190, 190, 190) !important;
    }
  }
  &.file {
    &.newLabel {
      // display: inline-block;
      // width: 100%;
      &:after {
        content: "NEW";
        display: inline-block;
        position: absolute;
        right: 10%;
        font-size: 10px;
        color: #45b13a;
      }

      .ant-tree-title,
      span.ant-tree-node-content-wrapper {
        
      }
    }
    span.ant-tree-node-selected {
      > span.ant-tree-title {
        color: #fff !important;
      }
    }
  }
  &.file > .ant-tree-switcher:after {
    content: "\E664" !important;
  }
  &.directory > .ant-tree-switcher:after {
    content: "\23F5" !important;
  }
  &.directory > .ant-tree-switcher_open:after {
    content: "\23F7" !important;
  }

  &.dirrectory > .ant-tree-switcher:after {
    content: "\23F5" !important;
  }
  &.dirrectory > .ant-tree-switcher_open:after {
    content: "\23F7" !important;
  }
}

.ant-tree {
  &.ant-tree-show-line {
    li:not(:last-child):before {
      border-left: 1px solid transparent !important;
    }
  }
}

.hidden-node {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  padding: 0;
  // margin-bottom: 5px;
}
