<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
     
    <?define Vendor = "CloudBeat" ?>
    <?if $(sys.BUILDARCH) = x64 ?>
        <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?else ?>
        <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?endif ?>

    <Product Id="*" 
             UpgradeCode="9E5A61D1-1F5A-4880-BD62-560DDEB466D5" 
             Name="Oxygen IDE" 
             Version="$(var.Version)"
             Manufacturer="CloudBeat Ltd." Language="1033">
        <Package InstallerVersion="500" Compressed="yes" />
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" CompressionLevel="high" />
        
        <MajorUpgrade Schedule="afterInstallInitialize"
                      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="INSTALLFOLDER" Name="Oxygen" />
            </Directory>
            
            <!-- desktop shortcut -->
            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="ApplicationShortcutDesktop" Guid="8B115EC7-8DD9-44DE-B25B-96B5A13FCA3E">
                    <Shortcut Id="ApplicationDesktopShortcut"
                              Name="Oxygen IDE"
                              Description="Oxygen automation framework for Web and Mobile"
                              Target="[INSTALLFOLDER]oxygenide.exe" 
                              WorkingDirectory="INSTALLDIR" />
                    <RemoveFolder Id="DesktopFolder" On="uninstall" />
                    <RegistryValue Root="HKCU" 
                                   Key="Software\$(var.Vendor)\Oxygen"
                                   Name="installed"
                                   Type="integer"
                                   Value="1"
                                   KeyPath="yes" />
                </Component>
            </Directory>
            
            <!-- start menu entry -->
            <Directory Id="ProgramMenuFolder">
                <Component Id="ApplicationShortcut" Guid="6038B8D5-BBB7-4249-A870-04B1F0162749">
                    <Shortcut Id="ApplicationStartMenuShortcut"
                              Name="Oxygen"
                              Description="Oxygen automation framework for Web and Mobile"
                              Target="[INSTALLFOLDER]oxygenide.exe"
                              WorkingDirectory="INSTALLFOLDER" />
                    <RemoveFile Id="RemoveShortcut" On="uninstall" Name="Oxygen.lnk"/>
                    <RegistryValue Root="HKCU" 
                                   Key="Software\$(var.Vendor)\Oxygen"
                                   Name="installed"
                                   Type="integer"
                                   Value="1"
                                   KeyPath="yes" />
                </Component>
            </Directory>
            
            <!-- chrome extension -->
            <Component Id="ChromeExt" Guid="BBD51E79-ADBE-4F66-9E2C-24670AE3FACD">
                <!-- TODO: test x86 - Software\Wow6432Node\Google\Chrome\Extensions\ibbmgejonlmocgjnkmabigdgbolcomea -->
                <RegistryKey Root="HKCU" Key="Software\Google\Chrome\Extensions\ibbmgejonlmocgjnkmabigdgbolcomea">
                    <RegistryValue Type="string" Name="update_url" Value="http://clients2.google.com/service/update2/crx" />
                </RegistryKey>
            </Component>
            
            <!-- IE BHO and registry settings required by webdriver -->
            <Component Id="IEExt" Guid="1732B734-D55B-4DEB-B525-17B4E03D987F">
                <!-- disable Enhanced Protected Mode on Windows 8+ -->
                <RegistryKey Root="HKCU" Key="Software\Microsoft\Internet Explorer\Main">
                    <RegistryValue Type="string" Name="Isolation" Value="PMIL" />
                </RegistryKey>
                <!-- disable Protected Mode for all zones -->
                <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\1">
                    <RegistryValue Type="integer" Name="2500" Value="3" />
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\2">
                    <RegistryValue Type="integer" Name="2500" Value="3" />
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3">
                    <RegistryValue Type="integer" Name="2500" Value="3" />
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\4">
                    <RegistryValue Type="integer" Name="2500" Value="3" />
                </RegistryKey>
                <!-- add FEATURE_BFCACHE key for IE 11 -->
                <!-- TODO: check if it's actually IE>=11. what the effect of adding this key for IE 10? -->
                <RegistryKey Root="HKCU" Key="Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_BFCACHE">
                    <RegistryValue Type="integer" Name="iexplore.exe" Value="0" />
                </RegistryKey>
            </Component>
        </Directory>
        
        <Feature Id="Common"
                 Title="Oxygen IDE"
                 Level="1"
                 AllowAdvertise="no"
                 Absent="disallow"
                 Display="hidden"
                 Description="Common Files (Required).">
            <ComponentGroupRef Id="ApplicationFiles" />
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="ApplicationShortcutDesktop" />
            <ComponentRef Id="IEExt" />
        </Feature>
        
        <Feature Id="ChromeExt"
                 Title="Chrome Extension"
                 Level="1"
                 AllowAdvertise="no"
                 Description="Enables recording support for Chrome.">
            <ComponentRef Id="ChromeExt" />
        </Feature>
        
        <UI>
            <UIRef Id="WixUI_FeatureTree" />
            <Publish Dialog="ExitDialog"
                Control="Finish" 
                Event="DoAction" 
                Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>
        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
        <Icon Id="app.ico" SourceFile="..\..\resources\app.ico" />
        <Property Id="ARPPRODUCTICON" Value="app.ico" />
        <Property Id="MSIFASTINSTALL" Value="3" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Oxygen IDE" />

        <Property Id="WixShellExecTarget" Value="[#fil29E2B7C2878787B81283DC106FD94D4C]" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

        <Property Id="JAVA_VER_64">
          <RegistrySearch Id="JRE_VER_REGSEARCH_64" Root="HKLM" Key="SOFTWARE\JavaSoft\Java Runtime Environment" Name="CurrentVersion" Type="raw" Win64="yes" />
        </Property>
        <Property Id="JAVA_VER_32">
          <RegistrySearch Id="JRE_VER_REGSEARCH_32" Root="HKLM" Key="SOFTWARE\JavaSoft\Java Runtime Environment" Name="CurrentVersion" Type="raw" Win64="no" />
        </Property>

        <Condition Message="Java Runtime Environment is not installed.&#xD;&#xA;&#xD;&#xA;Please install JRE 8, 9, or 10&#xD;&#xA;(or JDK if you wish to execute mobile tests)">
            <![CDATA[Installed OR JAVA_VER_32 OR JAVA_VER_64]]>
        </Condition>

        <util:CloseApplication Id="CloseChrome"
                               CloseMessage="no"
                               Target="chrome.exe"
                               RebootPrompt="no"
                               PromptToContinue="yes"
                               Description="Chrome needs to be closed before the installation can proceed. Please close Chrome manually."/>

        <InstallExecuteSequence>
            <Custom Action="WixCloseApplications" Before="LaunchConditions"></Custom>
        </InstallExecuteSequence>
    </Product>
</Wix>
